<form hx-get="/ui/read" hx-params="*" hx-target="#dataTable">
	<label for="databaseName">Database: </label>
	<input type="text" id="databaseName" name="database" />
	<label for="collectionName">Collection: </label>
	<input type="text" id="collectionName" name="collection" />
	<input type="submit" value="Load" />
	<button hx-post="/ui/add" hx-target="#dataTable">Add</button>
</form>
<div id="dataTable"><%= data %></div>
