	<td colspan="<%- colspan %>"><input type="text" name="row" value="<%= row %>" /></td>
	<td><button hx-put="/ui/update/<%- id %>" hx-include="[name='database'],[name='collection'],[name='row']" hx-target="closest tr">save</button></td>
	<td><button hx-get="/ui/read" hx-include="[name='database'],[name='collection']" hx-target="#dataTable">cancel</button></td>
